:root {
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "SpoqaHanSansNeo";
  font-weight: 400;
  --toastify-icon-color-success: #113484;
  --scrollbar-track-color: transparent; /* 기본 색상 */
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px; /* 가로 스크롤 높이 */
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarColor);
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src:
    local("Pretendard Bold"),
    url(public/font/Pretendard-Bold.woff2) format("woff2"),
    url(public/font/Pretendard-Bold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src:
    local("Pretendard Medium"),
    url(public/font/Pretendard-Medium.woff2) format("woff2"),
    url(public/font/Pretendard-Medium.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src:
    local("Pretendard Regular"),
    url(public/font/Pretendard-Regular.woff2) format("woff2"),
    url(public/font/Pretendard-Regular.woff) format("woff");
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 700;
  font-display: swap;
  src:
    url(/public/font/SpoqaHanSansNeo-Bold.woff2) format("woff2"),
    url(/public/font/SpoqaHanSansNeo-Bold.woff) format("woff");
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 500;
  font-display: swap;
  src:
    url(/public/font/SpoqaHanSansNeo-Medium.woff2) format("woff2"),
    url(/public/font/SpoqaHanSansNeo-Medium.woff) format("woff");
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 400;
  src:
    url(/public/font/SpoqaHanSansNeo-Regular.woff2) format("woff2"),
    url(/public/font/SpoqaHanSansNeo-Regular.woff) format("woff");
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 300;
  src:
    url(/public/font/SpoqaHanSansNeo-Light.woff2) format("woff2"),
    url(/public/font/SpoqaHanSansNeo-Light.woff) format("woff");
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 200;
  src:
    url(/public/font/SpoqaHanSansNeo-Thin.woff2) format("woff2"),
    url(/public/font/SpoqaHanSansNeo-Thin.woff) format("woff");
}

/* 색상코드 변수 선언 */
html {
  --backgroundColor: #fdfefd;
  --scrollbarColor: #e4e8ee;
  --basic-wht: #ffffff;
  --basic-wht-hover: #fafbff;
  --basic-bk: #222222;
  --basic-text: #222222;
  --wht-text: #ebebeb;
  --border: #e5e5e5;
  --border2: #707070;
  --border3: #ccc;
  --border4: #ddd;
  --gray1: #555555;
  --gray2: #a2a2a2;
  --gray3: #f8f8f8;
  --gray4: #e4e8ee;
  --warm-grey: #777777;
  --dot: #8b95a1;
  --blue1: #113484;
  --blue1-hover: rgba(17, 52, 132, 0.6);
  --skyblue: #edf2ff;
  --placeHolder1: #999999;
  --input-border: #ededed;
  --light-gray: #f7f7f7;
  --light-blue: #f0f3ff;
  --light-green-hover: #edf6f5;
  --light-blue-hover: #c8d0f2;
  --light-green-hover: #edf6f5;
  --red: #ff0000;
  --btn_bg: #f5f5f5;
  --green: #63a5aa;
  --green2: #64a5ab;
  --main-background-color: #fff;
  --report-background-color: #f8f8f8;
  --scroll: #e4e8ee;
}

html[class~="dark"] {
  --backgroundColor: #fdfefd;
  --scrollbarColor: #e4e8ee;
  --basic-wht: #ffffff;
  --basic-wht-hover: #fafbff;
  --basic-bk: #222222;
  --basic-text: #fafafa;
  --wht-text: #ebebeb;
  --border: #e5e5e5;
  --border2: #707070;
  --border3: #ccc;
  --border4: #ddd;
  --gray1: #555;
  --gray2: #a2a2a2;
  --gray3: #f8f8f8;
  --gray4: #e4e8ee;
  --warm-grey: #777777;
  --dot: #8b95a1;
  --blue1: #113484;
  --blue1-hover: rgba(17, 52, 132, 0.6);
  --skyblue: #edf2ff;
  --placeHolder1: #999999;
  --input-border: #ededed;
  --light-gray: #f7f7f7;
  --light-blue: #f0f3ff;
  --light-blue-hover: #c8d0f2;
  --light-green-hover: #edf6f5;
  --red: #ff0000;
  --btn_bg: #f5f5f5;
  --green: #63a5aa;
  --main-background-color: #fff;
  --report-background-color: #f8f8f8;
  --scroll: #e4e8ee;
}

body {
  background-color: var(--backgroundColor);
  font-family:
    SpoqaHanSansNeo,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}

.Toastify__toast-body > div:last-child {
  font-size: 1.5rem;
}

.quill {
  background-color: var(--basic-wht);
}

.quill .ql-toolbar.ql-snow {
  border: 1px solid var(--border);
  background-color: var(--basic-wht);
}
.quill .ql-container.ql-snow {
  border: 1px solid var(--border);
  background-color: var(--basic-wht);
}

.quill .ql-toolbar.ql-snow {
  border: 1px solid var(--border);
  background-color: var(--basic-wht);
}

.quill .ql-container.ql-snow {
  border: 1px solid var(--border);
  background-color: var(--basic-wht);
}

.ql-editor {
  font-size: 1.6rem;
}

/* 폰트 굵기 선언 */
.fw_normal {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.fw_400 {
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.fw_500 {
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.fw_700 {
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.fw_bold {
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.ff_pretendard {
  font-family: "Pretendard";
}

/* 폰트 사이즈 선언 */
.fs_1 {
  font-size: 0.0625rem !important;
} /* 1px */
.fs_2 {
  font-size: 0.125rem !important;
} /* 2px */
.fs_3 {
  font-size: 0.1875rem !important;
} /* 3px */
.fs_4 {
  font-size: 0.25rem !important;
} /* 4px */
.fs_5 {
  font-size: 0.3125rem !important;
} /* 5px */
.fs_6 {
  font-size: 0.375rem !important;
} /* 6px */
.fs_7 {
  font-size: 0.4375rem !important;
} /* 7px */
.fs_8 {
  font-size: 0.5rem !important;
} /* 8px */
.fs_9 {
  font-size: 0.5625rem !important;
} /* 9px */
.fs_10 {
  font-size: 0.625rem !important;
} /* 10px */
.fs_11 {
  font-size: 0.6875rem !important;
} /* 11px */
.fs_12 {
  font-size: 0.75rem !important;
} /* 12px */
.fs_13 {
  font-size: 0.8125rem !important;
} /* 13px */
.fs_14 {
  font-size: 0.875rem !important;
} /* 14px */
.fs_15 {
  font-size: 0.9375rem !important;
} /* 15px */
.fs_16 {
  font-size: 1rem !important;
} /* 16px */
.fs_17 {
  font-size: 1.0625rem !important;
} /* 17px */
.fs_18 {
  font-size: 1.125rem !important;
} /* 18px */
.fs_19 {
  font-size: 1.1875rem !important;
} /* 19px */
.fs_20 {
  font-size: 1.25rem !important;
} /* 20px */
.fs_21 {
  font-size: 1.3125rem !important;
} /* 21px */
.fs_22 {
  font-size: 1.375rem !important;
} /* 22px */
.fs_23 {
  font-size: 1.4375rem !important;
} /* 23px */
.fs_24 {
  font-size: 1.5rem !important;
} /* 24px */
.fs_25 {
  font-size: 1.5625rem !important;
} /* 25px */
.fs_26 {
  font-size: 1.625rem !important;
} /* 26px */
.fs_27 {
  font-size: 1.6875rem !important;
} /* 27px */
.fs_28 {
  font-size: 1.75rem !important;
} /* 28px */
.fs_29 {
  font-size: 1.8125rem !important;
} /* 29px */
.fs_30 {
  font-size: 1.875rem !important;
} /* 30px */

/* 폰트 색상 선언 */
.fc_basic_text {
  color: var(--basic-text);
}
.fc_white {
  color: var(--basic-wht);
}
.fc_black {
  color: var(--basic-bk);
}
.fc_green {
  color: var(--green);
}

/* 클릭 가능 커서 선언 */
.clickable {
  cursor: pointer;
}

/* 마진패딩 선언 */
.mgt8 {
  margin-top: 8px !important;
}

.mgt10 {
  margin-top: 10px !important;
}

.mgt12 {
  margin-top: 12px !important;
}

.mgt14 {
  margin-top: 14px !important;
}

.mgt16 {
  margin-top: 16px !important;
}

.mgt18 {
  margin-top: 18px !important;
}

.mgt20 {
  margin-top: 20px !important;
}

.mgt22 {
  margin-top: 22px !important;
}

.mgt24 {
  margin-top: 24px !important;
}

.mgt26 {
  margin-top: 26px !important;
}

.mgt28 {
  margin-top: 28px !important;
}

.mgt30 {
  margin-top: 30px !important;
}

.mgt32 {
  margin-top: 32px !important;
}

.mgt34 {
  margin-top: 34px !important;
}

.mgt36 {
  margin-top: 36px !important;
}

.mgt38 {
  margin-top: 38px !important;
}

.mgt40 {
  margin-top: 40px !important;
}

.mgt42 {
  margin-top: 42px !important;
}

.mgt44 {
  margin-top: 44px !important;
}

.mgt46 {
  margin-top: 46px !important;
}

.mgt48 {
  margin-top: 48px !important;
}

.mgt50 {
  margin-top: 50px !important;
}

.mgt52 {
  margin-top: 52px !important;
}

.mgt54 {
  margin-top: 54px !important;
}

.mgt56 {
  margin-top: 56px !important;
}

.mgt58 {
  margin-top: 58px !important;
}

.mgt60 {
  margin-top: 60px !important;
}

.pt12 {
  padding-top: 12px !important;
}

.pt8 {
  padding-top: 8px !important;
}

.pt14 {
  padding-top: 14px !important;
}

.pt16 {
  padding-top: 16px !important;
}

.pt18 {
  padding-top: 18px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt22 {
  padding-top: 22px !important;
}

.pt24 {
  padding-top: 24px !important;
}

.pt26 {
  padding-top: 26px !important;
}

.pt28 {
  padding-top: 28px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt32 {
  padding-top: 32px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pdl25 {
  padding-left: 25px !important;
}

.gap5 {
  gap: 5px !important;
}

.pr16 {
  padding-right: 16px;
}

.mgl4 {
  margin-left: 4px !important;
}

.mgl6 {
  margin-left: 6px !important;
}

.mgl8 {
  margin-left: 8px !important;
}

.mgl10 {
  margin-left: 10px !important;
}

.mgl12 {
  margin-left: 12px !important;
}

.mgl14 {
  margin-left: 14px !important;
}

.mgl16 {
  margin-left: 16px !important;
}

.mgl18 {
  margin-left: 18px !important;
}

.mgl20 {
  margin-left: 20px !important;
}

.mgl22 {
  margin-left: 22px !important;
}

.mgl24 {
  margin-left: 24px !important;
}

.mgl26 {
  margin-left: 26px !important;
}

.mgl28 {
  margin-left: 28px !important;
}

.mgl30 {
  margin-left: 30px !important;
}

.mgl32 {
  margin-left: 32px !important;
}

.mgr4 {
  margin-right: 4px !important;
}

.mgr6 {
  margin-right: 6px !important;
}

.mgr8 {
  margin-right: 8px !important;
}

.mgr10 {
  margin-right: 10px !important;
}

.mgr12 {
  margin-right: 12px !important;
}

.mgr14 {
  margin-right: 14px !important;
}

.mgr16 {
  margin-right: 16px !important;
}

.mgr18 {
  margin-right: 18px !important;
}

.mgr20 {
  margin-right: 20px !important;
}

.mgr22 {
  margin-right: 22px !important;
}

.mgr24 {
  margin-right: 24px !important;
}

.mgr26 {
  margin-right: 26px !important;
}

.mgr28 {
  margin-right: 28px !important;
}

.mgr30 {
  margin-right: 30px !important;
}

.mgr32 {
  margin-right: 32px !important;
}

.mgb2 {
  margin-bottom: 2px !important;
}

.mgb4 {
  margin-bottom: 4px !important;
}

.mgb6 {
  margin-bottom: 6px !important;
}

.mgb8 {
  margin-bottom: 8px !important;
}

.mgb10 {
  margin-bottom: 10px !important;
}

.mgb12 {
  margin-bottom: 12px !important;
}

.mgb14 {
  margin-bottom: 14px !important;
}

.mgb16 {
  margin-bottom: 16px !important;
}

.mgb18 {
  margin-bottom: 18px !important;
}

.mgb20 {
  margin-bottom: 20px !important;
}

.mgb22 {
  margin-bottom: 22px !important;
}

.mgb24 {
  margin-bottom: 24px !important;
}

.mgb26 {
  margin-bottom: 26px !important;
}

.mgb28 {
  margin-bottom: 28px !important;
}

.mgb30 {
  margin-bottom: 30px !important;
}

.mgb32 {
  margin-bottom: 32px !important;
}

.mgb34 {
  margin-bottom: 34px !important;
}

.mgb36 {
  margin-bottom: 36px !important;
}

.mgb38 {
  margin-bottom: 38px !important;
}

.mgb40 {
  margin-bottom: 40px !important;
}

.divideLine {
  width: 100%;
  height: 1px;
  background-color: var(--divLine);
}

.hoverable-text {
  cursor: pointer;
  text-decoration: underline;
}

.cursorPointer {
  cursor: pointer;
}

.flexAndAlignCenter {
  display: flex;
  align-items: center;
}

.userSelectNone {
  user-select: none;
}

/* MyEditor.css */
.custom-editor .ql-container {
  border: none !important; /* 테두리 제거 */
  outline: none; /* 외곽선 제거 */
}

.custom-editor .ql-editor {
  padding: 0 !important; /* 내부 패딩 제거 */
}

.Toastify__progress-bar--success {
  background-color: #113484 !important; /* 원하는 색상으로 변경 */
}
